.button {
  font-weight: 700;
  border-radius: 3em;
  border: 0;
  color: white;
  background-color: #50b6f6;
  border: 2px solid #50b6f6;
  line-height: 36px;
  padding: 0 2em;
  transition: all 0.3s ease-out;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    color: #50b6f6;
  }
  &:global(.danger) {
    background-color: #f00;
    border: 2px solid #f00;
    &:hover {
      background-color: #fff;
      color: #f00;
    }
  }
}

.button:disabled {
  background-color: #c8c8c8;
  border: 2px solid #c8c8c8;
  color: #fff;
  cursor: not-allowed;
}